
{% load dict_and_list %}

{% if parent_child|dict:start %}
<ul  class="main-menu">
    {% for i in  parent_child|dict:start %}
        <li>
            <a href= {{ id_url|dict:i }}
            {% if i == child %}
                    class="active"
            {% endif %}
            > {{  child_name|dict:i }}</a>
            {% if i == path.item %}
                {% include "menu/menu.html" with start=path.item path=path.next %}
            {% endif %}

        </li>
    {% endfor %}
</ul>
{% endif %}

